extends layout

block content
	center
		div#home
			h1 what would you like to watch today?
			form(method="get", action="/search")
				input(type="text", name="term", class="text")
				br
				input(type="submit", value="search")