extends layout

block content
	center
		div#home
			h1 what would butz like to watch today?
			form(method="get", action="/search")
				input(type="text", name="term", class="text")
				br
				input(type="submit", value="search")
			div.popular
				p popular search
				a.popular(href="/search?term=仁心解碼 II", alt="仁心解碼 II") 仁心解碼 II
				a.popular(href="/search?term=愛．回家", alt="愛．回家") 愛．回家
				a.popular(href="/search?term=葉問", alt="葉問") 葉問
				a.popular(href="/search?term=女警愛作戰", alt="女警愛作戰") 女警愛作戰
				a.popular(href="/search?term=心路GPS", alt="心路GPS") 心路GPS
				a.popular(href="/search?term=戀愛季節", alt="戀愛季節") 戀愛季節
				a.popular(href="/search?term=初五啟市錄", alt="初五啟市錄") 初五啟市錄
				a.popular(href="/search?term=老表, 你好嘢!", alt="老表, 你好嘢!") 老表, 你好嘢!
				a.popular(href="/search?term=法網狙擊", alt="法網狙擊") 法網狙擊
				a.popular(href="/search?term=幸福摩天輪", alt="幸福摩天輪") 幸福摩天輪