extends layout

block content
	h1 azdrama
	p welcome to azdrama viewer
	p please enter url to an episode
	form(action="/process", method="post")
		div
			label(for="url") URL - 
			input(type="text", id="url", name="url")
		div
			input(type="submit", value="submit")