extends layout

block content
	h1 azdrama
	ul.featured
		each item in featured
			li
				figure
					img(src=item.image, alt=item.title)
					figcaption 
						a(href="/series?path=#{item.path}")=item.title