extends layout

block content
	div#player
		center
			h1 #{episode.series} - #{episode.episode}
			video(controls, autoplay)
				source(src="#{episode.url}", type="video/mp4")
			div
				a.prev prev
				a.next next
	script(src="http://code.jquery.com/jquery-1.9.1.min.js")
	script(src="/javascripts/player.js")
	script
		init('#{episode._id}')