body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.featured li {
	list-style: none;
}

#home input.text {
	width: 50%;
	font-size: 1.5em;
	margin-bottom: 5px;
}

#home div#footer {
	margin: 50px auto;
}

#home div#footer p {
	margin: 5px;
	font-size: 0.8em;
}

#home div#footer p.recent {
	display: none;
}

#home div#footer a.footer {
	margin: 5px;
	font-size: 1.05em;
	text-decoration: none;
}

#search form {
	margin-bottom: 10px;
}

ul.episodes {
	margin: 0;
	padding: 0;
	list-style: none;
}

.episodes .title {
	margin: 0 5px 0 0;
}

#player {
	position: relative;
}

#player a { 
	cursor: pointer;
	text-decoration: none;
}
#player a.prev {
	float: left;
}

#player a.next {
	float: right;
}